<h2>Argumentos de entrada: {{info.argumentosEntrada}}</h2>
<h2>Nombre de la plataforma: {{info.nombrePlataforma}}</h2>
<h2>Version Node JS: {{info.versionNodeJS}}</h2>
<h2>Memoria total reservada (rss): {{info.memoriaTotalReservada}}</h2>
<h2>Path de ejecucion: {{info.pathEjecucion}}</h2>
<h2>Process ID: {{info.processId}}</h2>
<h2>Carpeta del proyecto: {{info.carpetaProyecto}}</h2>
<h2>Numero de procesadores: {{info.numeroProcesadores}}</h2>